{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.svg' %}" alt="Digi-Farm Logo" height="40" class="me-2">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-success text-muted" href="{% url 'home' %}">Home</a>
        </li>
        
        {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link active text-success" href="{% url "calendar_view" %}">
              Planner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url "plant_list" %}">
              Pests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url "tips_list" %}">
              Tips
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url "consultations_home" %}">
              Consultations
            </a>
          </li>
        {% endif %}
      </ul>

      <!-- Search Bar (centered) -->
      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Logout Button (right side) -->
      {% if user.is_authenticated %}
      <div class = "py-4">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
      </div>
      {% else %}
        <div class="ms-2">
          <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
          <a href="{% url 'register' %}" class="btn btn-success">Register</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>