<div class="sidebar" style="background: ">
  <div class="text-center mb-3"><h4>Admin</h4></div>
  <a href="{% url 'dashboard:home' %}">Overview</a>
  <a href="{% url 'dashboard:farmers_list' %}">Farmers</a>
  <a href="{% url 'dashboard:plant_list' %}">Plants</a>
  <a href="{% url 'dashboard:pests_list' %}">Pests</a>
  <a href="{% url 'dashboard:tips_list' %}">Tips</a>
  <a href="{% url 'dashboard:consultations_list' %}">Consultations</a>
  <a href="{% url 'dashboard:payments_list' %}">Payments</a>
</div>
